* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
 font-family: 'Poppins', sans-serif;
}

.logo1 {

width: 225px;



}

.navbar {

display: flex;
align-items: center;
padding: 20px;
justify-content: space-between;


}

nav ul {

display: inline-block;
list-style-type: none;


}

nav li {

display: inline-block;
margin-right: 20px;

}

a {

text-decoration: none;
color: #555;

}

p {

color: #555;

}

.container {

max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;


}

.row {

display: flex;
align-items: center;
flex-wrap: nowrap;
justify-content: space-around;

}

.column2 {

flex-basis: 50%;
min-width: 300PX;

}


.column2 img {


padding: 50px 0;

}

.column1 h1 {

font-size: 50px;
line-height: 60px;
margin: 25px 0;

}

.nupp {

  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}

.header {

background: radial-gradient(#fff, #ffd6d6);

}


.header .row {

  margin-top: 70px;


}


.ostukorv {

 width: 30px;
 height: 30px;

}


.nupp:hover {

background: #563434;

}

.categories {

margin: 70px 0;


}

.column3 {

flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;

}

.column3 img {


  width: 100%;
}

.small-container {

max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;

}

.column4 {

flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;


}

.column4 img {

width: 100%;

}

.pealkiri {

text-align: center;
margin: 0 auto 80px;
position: relative;
line-height: 60px;
color: #555;

}

h4 {


color: #555;
font-weight: normal;

}

.column4 p {

font-size: 14px;


}

.row-pakkumine {

  display: flex;
  flex-direction: row-reverse;


}

.pakkumised-pilt {

width: 100%;
}

.parim-pakkumine {


  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
  

}

.pakkumine {

  background: radial-gradient(#fff, #ffd6d6);


}

.partnerid {

margin: 100% auto;


}

.column5 {

width: 160px;

}

.column5 img {

width: 100%;
cursor: pointer;
filter: grayscale(100%);
}



.partner {

height: 50%;
filter: grayscale(100%);
}


.partner:hover{

filter: grayscale(0);


}

.logo-alla {

display: flex;

}

.footer-tekst {

display: flex;
align-items: center;
flex-direction: row-reverse;
margin-right: 200px;

}

.juurdepildid {

  display: flex;
height: 200px;
justify-content: center;


}

.menu {

width: 28px;
margin: 20px;



}

